Source: bookthief
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 13.0.0), xgetopt-dev, pkgconf, fpc-3.2.2, graphicsmagick-libmagick-dev-compat, libpoppler-cpp-dev, libhpdf-dev, lcl-4.0, pandoc
Standards-Version: 3.9.3
Section: utils

Package: libliesel0
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Liesel C ABI shared library
 Liesel is a command-line tool that prepares PDFs
 to be printed at home in "pamphlet" style, so that
 when the pages are cut and folded they form a
 booklet.
 .
 This package provides a shared library
 (libliesel.so) that contains a C ABI wrapper
 around Liesel for use by non-C++ applications.

Package: libliesel-dev
Priority: optional
Architecture: any
Depends: libliesel0 (= ${binary:Version}), ${misc:Depends}
Description: Liesel C ABI development files
 This package contains the development files
 (headers and symlink) for libliesel.so,
 the C ABI wrapper around Liesel for use
 by non-C++ applications.

Package: liesel
Priority: optional
Architecture: any
Depends: libliesel0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Converts PDFs to "pamphlet" style for home printing
 Liesel is a command-line tool that prepares PDFs
 to be printed at home in "pamphlet" style, so that
 when the pages are cut and folded they form a
 booklet.
 .
 This package also provides a shared library
 (libliesel.so) that contains a C ABI wrapper
 around Liesel for use by non-C++ applications.

Package: bookthief
Priority: optional
Architecture: any
Depends: liesel (>= 10.1), libliesel0 (= ${binary:Version}), gnome-themes-extra, ${shlibs:Depends}, ${misc:Depends}
Description: GUI Front-end for Liesel
 Prepares PDFs to be home-printed
 in "pamphlet" style

