<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="bookthiefFrame">
		<title>BookThief</title>
		<icon stock_id="wxART_FILE_SAVE" stock_client="wxART_OTHER" />
		<size>400,475</size>
		<minsize>400,475</minsize>
		<maxsize>400,475</maxsize>
		<id_arg>0</id_arg>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Save as</label>
			<pos>152,360</pos>
			<handler function="OnButton1Click1" entry="EVT_BUTTON" />
		</object>
		<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="HyperlinkCtrl1" member="yes">
			<label>Library Genesis</label>
			<url>http://gen.lib.rus.ec/</url>
			<pos>96,408</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
			<label>Convert to grayscale</label>
			<pos>8,56</pos>
		</object>
		<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl1" member="yes">
			<value>40</value>
			<pos>248,168</pos>
			<size>136,34</size>
			<hidden>1</hidden>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Pages per segment</label>
			<pos>256,208</pos>
			<hidden>1</hidden>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<value>1</value>
			<pos>248,120</pos>
			<size>56,27</size>
			<hidden>1</hidden>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl2" member="yes">
			<value>100</value>
			<pos>336,120</pos>
			<size>48,27</size>
			<hidden>1</hidden>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>to</label>
			<pos>312,128</pos>
			<hidden>1</hidden>
		</object>
		<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL2" variable="HyperlinkCtrl2" member="yes">
			<label>ZLibrary</label>
			<url>https://1lib.domains</url>
			<pos>216,408</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Looking for books? Try:</label>
			<pos>128,400</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>or</label>
			<pos>208,416</pos>
		</object>
		<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL3" variable="HyperlinkCtrl3" member="yes">
			<label>?</label>
			<pos>288,216</pos>
			<hidden>1</hidden>
			<handler function="OnHyperlinkCtrl3Click1" entry="EVT_HYPERLINK" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox2" member="yes">
			<label>Print only within range</label>
			<pos>8,120</pos>
			<handler function="OnCheckBox2Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBox3" member="yes">
			<label>Print in segments</label>
			<pos>8,184</pos>
			<handler function="OnCheckBox3Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>Print only pages:</label>
			<pos>264,96</pos>
			<hidden>1</hidden>
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>(None)</label>
			<pos>8,8</pos>
			<size>384,34</size>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBox4" member="yes">
			<label>Rescale output to paper size</label>
			<pos>8,248</pos>
			<handler function="OnCheckBox4Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
			<content>
				<item>us-letter</item>
				<item>a4</item>
			</content>
			<selection>0</selection>
			<pos>248,248</pos>
			<size>136,30</size>
			<hidden>1</hidden>
		</object>
		<object class="wxSlider" name="ID_SLIDER1" variable="Slider1" member="yes">
			<value>100</value>
			<max>200</max>
			<pos>56,304</pos>
			<size>272,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Low</label>
			<pos>48,320</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Standard</label>
			<pos>160,320</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>High</label>
			<pos>304,320</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>Quality</label>
			<pos>168,288</pos>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxProgressDialog" name="ID_PROGRESSDIALOG1" variable="ProgressDialog1" member="yes">
			<title>BookThief</title>
			<message>Building...</message>
		</object>
	</object>
</wxsmith>
